# Pandas

### Example 1: Creating Pandas Series

In [7]:
# creating a series by passing a list of values, and a custom index label.
#Note that the labeled index reference for each row and it can have duplicate
#values
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])
print(s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

### Example 2: Create Pandas DataFrame

In [8]:
data = {'Gender': ['F', 'M', 'M'],'Emp_ID': ['E01', 'E02','E03'], 'Age': [25, 27, 25]}
# We want the order the columns, so lets specify in columns parameter
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
print(df) #output all data
print(df.Emp_ID) #output all Emp_ID(entire column)
print(df.Emp_ID[0]) #output first Emp_IDd

  Emp_ID Gender  Age
0    E01      F   25
1    E02      M   27
2    E03      M   25
0    E01
1    E02
2    E03
Name: Emp_ID, dtype: object
E01

### Example 3. Reading, Writing data from csv files

In [11]:
import pandas as pd
df=pd.read_csv('mtcars.csv') # from csv
# writing from dataframe to files
# Index = False parameter will not write the index values, default is True
df.to_csv('mtcars_new.csv', index=False)
#df.to_csv('Data/mtcars_new.txt', sep='\t', index=False)
#df.to_excel('Data/mtcars_new.xlsx',sheet_name='Sheet1', index = False)

In [10]:
conda install xlrd

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.8.3
  latest version: 4.8.4

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

### Example 4: Basic statistics on Dataframe

In [16]:
df = pd.read_csv('iris.csv')
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count     11.000000    11.000000     11.000000    11.000000
mean       6.081818     3.181818      3.927273     1.245455
std        0.948492     0.318805      2.042102     0.847778
min        4.700000     2.700000      1.300000     0.200000
25%        5.250000     3.000000      1.550000     0.300000
50%        6.300000     3.200000      4.700000     1.500000
75%        6.950000     3.250000      5.500000     1.850000
max        7.300000     3.900000      6.300000     2.500000

### Example 5 : Creating covariance on dataframe

In [17]:
df.cov()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      0.899636    -0.102364      1.732545     0.634909
Sepal.Width      -0.102364     0.101636     -0.339455    -0.126091
Petal.Length      1.732545    -0.339455      4.170182     1.679636
Petal.Width       0.634909    -0.126091      1.679636     0.718727

### Example 6 : Creating correlation matrix on dataframe

In [19]:
df.corr()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.338523      0.894486     0.789580
Sepal.Width      -0.338523     1.000000     -0.521410    -0.466527
Petal.Length      0.894486    -0.521410      1.000000     0.970188
Petal.Width       0.789580    -0.466527      0.970188     1.000000